.check-btn {
  background: linear-gradient(0deg, $border-color 0%, $background-color 100%);
  width: 10rem;
  height: 2.5rem;
  line-height: 2.6;
  color: #fff;
  padding: 0;
  border: none;
  border-radius: 5px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}

.check-btn span {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.5rem;
  width: 100%;
  height: 100%;
}

.check-btn:before,
.check-btn:after {
  position: absolute;
  content: '';
  right: 0;
  top: 0;
  background: $background-color;
  transition: all 0.3s ease;
}

.check-btn:before {
  height: 0%;
  width: 2px;
}

.check-btn:after {
  width: 0%;
  height: 2px;
}

.check-btn:active {
  transform: scale(0.9);
}

.check-btn:hover {
  background: #fff;
  box-shadow: none;
}

.check-btn:hover:before {
  height: 100%;
}

.check-btn:hover:after {
  width: 100%;
}

.check-btn span:hover {
  color: $background-color;
}

.check-btn span:before,
.check-btn span:after {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  background: $background-color;
  transition: all 0.3s ease;
}

.check-btn span:before {
  width: 2px;
  height: 0%;
}

.check-btn span:after {
  width: 0%;
  height: 2px;
}

.check-btn span:hover:before {
  height: 100%;
}

.check-btn span:hover:after {
  width: 100%;
}
