html,
body {
  font-family: $main-font;
  background-color: $main-color;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  flex: 1 0 auto;
  gap: 1rem;
  padding: 1rem;

  h1,
  .description {
    text-align: center;
    color: $heading-color;
  }
}

.draggable-list {
  color: $text-color;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;

  li {
    background-color: #fff;
    display: flex;
    border: 1px solid $border-color;
    border-radius: $border-radius;
    overflow: hidden;

    &:not(:last-of-type) {
      border-bottom: 1px solid $border-color;
    }
  }

  .number {
    font-size: 1.75rem;
    height: 100%;
    width: 3.75rem;
    background-color: $background-color;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .draggable {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    flex: 1;
    cursor: pointer;

    .company-name {
      margin: 0 1.25rem 0 0;
    }
  }
}

li.right .company-name {
  color: $green;
}

li.wrong .company-name {
  color: $red;
}

li.over .draggable {
  background-color: $gray;
}
