$main-font: 'Lato', sans-serif;
$main-color: #708090;
$green: #3ae374;
$red: #ff3838;
$border-radius: 1rem;
$background-color: #8b7e74;
$border-color: #c7bca1;
$text-color: #65647c;
$gray: #f1d3b3;
$heading-color: #fafad2;
